/*Profesionales*/

.bg-color-profesionales{
    background: $background-b;
    height: 100px;
    margin-bottom: 110px;
}

.circle-shadow{
    box-shadow: 0px 10px 14px -7px #1e4356;
    border-radius: 200px;
}