@import url(../icofont/icofont.min.css);
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/*Fuente*/
@font-face {
  font-family: "myriad";
  src: url(../font/myriad.ttf);
}
/*Iconos*/
.font, .btn-estilo {
  font-family: "myriad";
  color: white;
}

.font-b {
  font-family: "myriad";
  color: #1e4356;
}

.box-shadow {
  box-shadow: 0px 10px 14px -7px #1e4356;
  border-radius: 5px;
}

/*Navbar*/
.bg-nav-color {
  background: linear-gradient(125deg, rgb(30, 67, 86) 0%, rgb(24, 114, 161) 97%);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-link {
  color: white;
  font-family: "myriad";
}

/*Header*/
.pagina-titulo {
  background-color: #f3f8fa;
  font-family: "myriad";
  color: #1e4356;
}

.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

/* DEMO 1 ============================== */
.hover-1 img {
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-1 .hover-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;
}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {
  opacity: 0;
}

/* DEMO 2 ============================== */
.hover-2 .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-2-title {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2:hover .hover-2-title {
  transform: translateY(-1.5rem);
}

.hover-2:hover .hover-2-description {
  bottom: 0.5rem;
  opacity: 1;
}

.hover-2:hover .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

/* DEMO 3 ============================== */
.hover-3::after {
  content: "";
  width: calc(100% - 3rem);
  height: calc(100% - 3rem);
  border: 1px solid #fff;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 90;
  transition: all 0.3s;
  transform: scale(1.1);
  opacity: 0;
  display: block;
  opacity: 0;
}

.hover-3-content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.hover-3-description {
  opacity: 0;
  transform: scale(1.3);
  transition: all 0.3s;
}

.hover-3 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-3 .hover-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-3:hover img {
  width: 100%;
}

.hover-3:hover::after {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-3-description {
  opacity: 1;
  transform: none;
}

.hover-3:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

/* DEMO 4 ============================== */
.hover-4 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-4 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.hover-4-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  z-index: 99;
}

.hover-4-description {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: right;
  border-right: 3px solid #fff;
  padding: 0 1rem;
  z-index: 99;
  transform: translateX(-1.5rem);
  opacity: 0;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  .hover-4-description {
    width: 50%;
  }
}
.hover-4:hover img {
  width: 100%;
}

.hover-4:hover::after {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-4-description {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

/* DEMO 5 ============================== */
.hover-5::after {
  content: "";
  width: 100%;
  height: 10px;
  background: linear-gradient(125deg, rgb(30, 67, 86) 0%, rgb(24, 114, 161) 97%);
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  transition: all 0.3s;
  z-index: 999;
}

.hover-5 .hover-overlay {
  background: rgba(0, 0, 0, 0.2);
}

.hover-5-title {
  position: absolute;
  bottom: 1rem;
  left: 0;
  transition: all 0.3s;
  padding: 2rem 3rem;
  z-index: 99;
}

.hover-5-title span {
  transition: all 0.4s;
  opacity: 0;
  color: rgb(113, 179, 212);
}

.hover-5:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.6);
}

.hover-5:hover .hover-5-title {
  bottom: 0;
}

.hover-5:hover .hover-5-title span {
  opacity: 1;
}

.hover-5:hover::after {
  bottom: 0;
}

.novedades-contenedor {
  overflow: hidden;
}

/*Main index*/
.main-bienvenida {
  background-image: url(../img/mikine-kinesiologia-osteopatia-home.jpg);
  background-size: cover;
  height: 100vh;
}
.main-bienvenida .bg-img {
  background-color: rgba(30, 67, 86, 0.5);
  height: 100%;
}
.main-bienvenida .bg-img .reserva__boton {
  box-shadow: 0px 10px 11px -7px #276873;
  background: linear-gradient(125deg, rgb(30, 67, 86) 0%, rgb(24, 114, 161) 97%);
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: "myriad";
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}
.main-bienvenida .bg-img .reserva__boton:hover {
  background: linear-gradient(125deg, rgb(67, 118, 143) 0%, rgb(24, 114, 161) 97%);
}
.main-bienvenida .bg-img .reserva__boton:active {
  position: relative;
  top: 1px;
}

/*aside*/
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 500px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

/*Main Servicios*/
.card-header {
  background: linear-gradient(125deg, rgb(30, 67, 86) 0%, rgb(24, 114, 161) 97%);
}

.card-text {
  font-family: "myriad";
}

/*Profesionales*/
.bg-color-profesionales {
  background: linear-gradient(125deg, rgb(30, 67, 86) 0%, rgb(24, 114, 161) 97%);
  height: 100px;
  margin-bottom: 110px;
}

.circle-shadow {
  box-shadow: 0px 10px 14px -7px #1e4356;
  border-radius: 200px;
}

/*Contacto*/
.font-b a {
  color: #1e4356;
}

.titulo-contacto {
  color: white;
  background: linear-gradient(125deg, rgb(30, 67, 86) 0%, rgb(24, 114, 161) 97%);
  width: 100%;
  text-align: center;
}

.borde {
  border-radius: 75%;
  border-style: dotted;
  padding: 8px;
}

.btn-estilo {
  background: linear-gradient(125deg, rgb(30, 67, 86) 0%, rgb(24, 114, 161) 97%);
  padding: 5px 20px;
  text-decoration: none;
}

/*Turnos*/
.calendar-size {
  max-width: 655px;
}

/*Footer*/
.footer-color {
  background: linear-gradient(125deg, rgb(30, 67, 86) 0%, rgb(24, 114, 161) 97%);
  color: white;
  font-family: "myriad";
}
.footer-color a {
  color: white;
}

/*Large Devices*/
@media (min-width: 992px) {
  .nav-link:hover {
    opacity: 0.9;
  }
  .scale:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.4s;
  }
  .efecto-s:after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    transition: all 0.8s;
  }
  .efecto-s:hover:after {
    width: 100%;
    background: linear-gradient(125deg, rgb(30, 67, 86) 0%, rgb(24, 114, 161) 97%);
  }
}/*# sourceMappingURL=style.css.map */